
=======
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {   
margin:0;
padding:0;
background-color: #888888;
font-family: "Helvetica           Neue",Helvetica,Arial,sans-serif;    
}
.apa {
    background-color: #722872;
    width: 100%;
    height: 80px;
    position: fixed;
}
.qlip {
    padding: 12px 135px;
}
img {
    width: 47px;
    height: 56px;
}
.content {
    font-size: 18px;
    line-height: 30px;
    background-color:#aaaaaa;
    width: 1026px;
    height:390px;
    margin: 0 auto;
    padding-top: 80px;
}
.image {
    background-size: contain;
    background-image:  url(img/avatar.png);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    float: right;
    margin-right: 58px;
    margin-top: 58px;
}

.text {
    width: 667px;
    height: 244px;
    float: left;
    color: #ffffff;
    text-align: right;
    line-height: 30px;
    font-size: 20px;
    padding-top: 30px;
}
.line {
    width: 457px;
    height: 4px;
    background-color: #ffffff;
    margin-top: 210px;
    margin-left: 155px;
}
.texx {
    float: left;
    width: 667px;
    text-align:right;
    font-size: 22px;
    color: #ffffff;
    margin-top: -50px;
}
.content1 {
    width: 1026px;
    margin: 0 auto;
    padding: 1px;
    background-color: #eeeeee;
}
.portfolio {
    text-align: center;
    display: block;
    padding: 65px 0;
    width: 100%;
    color:#888888;
    font-size: 28px;

} 
.foto1 {
    width: 415px;
    height: 277px;
    background-image: url(img/600x393xYMCA-Realtor-Donation-3.jpeg.pagespeed.ic.vJV7L8HzF-.jpg);
    background-size: contain;
    float: left;
    margin-left: 72px;
        
}
.foto2 {
    width: 415px;
    height: 300px;
    background-image: url(img/800x578xwebcaballero.jpg.pagespeed.ic.7AxjjAD47G.jpg);
    background-size: contain;
    float: right;
    margin-right: 72px;
}
.foto3 {
    width: 415px;
    height: 300px;
    background-image: url(img/800x578xwebmarqas.jpg.pagespeed.ic.hgTlmc_JaU.jpg);
    background-size: contain;
    float: left;
    margin-left: 72px;
    margin-top: 40px;
}
.foto4 {
     width: 415px;
    height: 300px;
    background-image: url(img/800x578xwebbrandaxis.jpg.pagespeed.ic.TNw8Gz9_wi.jpg);
    background-size: contain;
    float: right;
    margin-right: 72px;
    margin-top: 40px;
    
}
.foto5 {
    width: 415px;
    height: 335px;
    background-image:url(img/1280x1024xpanacea1.jpg.pagespeed.ic.U4CT6IHqvb.jpg);
    background-size: contain;
    float: left;
    margin-top: 40px;
    margin-left: 72px;
}
.foto6 {
    width: 415px;
    height: 300px;
    background-image:url(img/800x578xwebgatomalo.jpg.pagespeed.ic.eB3GsK-VgC.jpg);
    float: right;
    background-size: contain;
    margin-right: 72px;
    margin-top: 40px;
   
}
.clearfix {
    padding: 0px;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}
.line1 {
    width: 1026px;
    height: 2px;
    background-color: #d1d1d1;
    margin-top: 58px;
    padding: 0px;
    float: left;
}
.fa-code {
    position: absolute;
    color: #ffffff;
    font-size: 33px;
    float: left;
    padding-top: 194px;
    right: 488px;
}
#navigation li {
    color: #888888;
    font-family: "Helvetica           Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: bold;
    list-style-type: none;
    border: 1px solid #cccccc;
    padding: 14px;
    float: left;
    text-decoration: none;
}
.table {
    position: absolute;
    float: right;
    padding-left: 735px;
}


   

