
body {
margin:0;
padding:0;
background-color: #888888;
}
.apa {
    background-color: #722872;
    width: 100%;
    height: 80px;
}
.qlip {
    padding: 12px 135px;
}
img {
    width: 47px;
    height: 56px;
}
.content {
    background-color:#aaaaaa;
    width: 1026px;
    height:540px;
    margin: 0 auto;
}