@font-face {
    font-family: "HelveticaNeue";
    src:url(../fonts/HelveticaNeue.ttf);
    font-weight: normal;
    font-style: normal;
}


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

body {   
margin:0;
padding:0;
background-color: #888888;
font-family: "Helvetica           Neue",Helvetica,Arial,sans-serif;    
}
.container_header {
    width: 1026px;
    margin: 0 auto;
    
}
.apa {
    padding: 0;
    background-color: #722872;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
}
.qlip {
    padding: 12px 0;
    float: left;
}
img {
    width: 47px;
    height: 56px;
}
.content {
    font-size: 18px;
    line-height: 30px;
    background-color:#aaaaaa;
    width: 1026px;
    margin: 0 auto;
    padding-top: 80px;
}
.image {
    
    background-size: contain;
    background-image:  url(img/avatar.png);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    
}
.left {
    width: 667px;
    float: left;
    text-align: right;
}
.right {
    float: right;
    padding:58px 58px 58px 0;
}
.text {
    
    
    color: #ffffff;
    text-align: right;
    line-height: 30px;
    font-size: 20px;
    padding-top: 30px;
}
.line {
    position: relative;
    display: inline-block;
    width: 520px;
    height: 4px;
    background-color: #ffffff;

}
.texx {
    width: 667px;
    text-align:right;
    font-size: 22px;
    color: #ffffff;
}
.content1 {
    width: 1026px;
    margin: 0 auto;
    padding: 1px;
    background-color: #eeeeee;
}
.portfolio {
    text-align: center;
    display: block;
    padding: 65px 0;
    width: 100%;
    color:#888888;
    font-size: 28px;

} 
.foto1 {
    width: 415px;
    height: 277px;
    background-image: url(img/600x393xYMCA-Realtor-Donation-3.jpeg.pagespeed.ic.vJV7L8HzF-.jpg);
    background-size: contain;
    float: left;
    margin-left: 72px;
        
}
.foto2 {
    width: 415px;
    height: 300px;
    background-image: url(img/800x578xwebcaballero.jpg.pagespeed.ic.7AxjjAD47G.jpg);
    background-size: contain;
    float: right;
    margin-right: 72px;
}
.foto3 {
    width: 415px;
    height: 300px;
    background-image: url(img/800x578xwebmarqas.jpg.pagespeed.ic.hgTlmc_JaU.jpg);
    background-size: contain;
    float: left;
    margin-left: 72px;
    margin-top: 40px;
}
.foto4 {
     width: 415px;
    height: 300px;
    background-image: url(img/800x578xwebbrandaxis.jpg.pagespeed.ic.TNw8Gz9_wi.jpg);
    background-size: contain;
    float: right;
    margin-right: 72px;
    margin-top: 40px;
    
}
.foto5 {
    width: 415px;
    height: 335px;
    background-image:url(img/1280x1024xpanacea1.jpg.pagespeed.ic.U4CT6IHqvb.jpg);
    background-size: contain;
    float: left;
    margin-top: 40px;
    margin-left: 72px;
}
.foto6 {
    width: 415px;
    height: 300px;
    background-image:url(img/800x578xwebgatomalo.jpg.pagespeed.ic.eB3GsK-VgC.jpg);
    float: right;
    background-size: contain;
    margin-right: 72px;
    margin-top: 40px;
   
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}


.fa-code {
    padding: 0 10px;
    display: inline-block;
    position: absolute;
    color: #ffffff;
    font-size: 2em;
    /*left: 50%;
    margin-left: -30px;*/
    right: -10px;
    top: -18px;
    background-color: #aaa;
    
}
#navigation li {
    display: inline-block;
    color: #888888;
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    list-style-type: none;
    
    
    text-decoration: none;
}
#navigation .active a {
    color: #000;
}
#navigation li a {
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    color: #aaa;
}
#navigation .active {
    background-color: #e7e7e7;
}
#navigation li:hover {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
}
#navigation li:hover a {
    color: #000;
}
.table {
    float: right;
}

@media (max-width: 1050px) {
    .content,
    .content1,
    .text,
    .line,
    .texx,
    .apa{
        width: 100%;
    }
    .left {
        padding: 20px;
        float:none;
        width: 100%;
    }
    .right {
        padding: 20px;
        width: 100%;
        float:none;
    }
    
    .addon {
        width: 512px;
        height: 34px;
        background-color: black;
    }